.main{
    background-image: url("images/bag.jpg");
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items:center;
    height: 100vw;
    width: 100vw;
    padding-top: 10vw;
}
ul{
    columns: 5;
    column-gap: 0;
    margin: 0;
    padding: 0;
    width: 30vw;
    height: 30vw;
}

.button button{
    width: 6vw;
    height: 6vw;
    padding: 0;
    margin: 0;
    font-size: 2vw;
}
.screen{
    border: 2px black;
    display: flex;
    background-color: white;
    width: 29.75vw;
    height: 5vw;
    margin: 0;
}

#number button{
    background-color: black;
    color: white;
    border-color: black;
}

#function button{
    background-color: rgb(145, 145, 145);
    color: white;
    border-color: black;
}
#operation button{
    background-color: rgb(231, 160, 26);
    color: white;
    border-color: black;
}
#null button{
    background-color: black;
    border-color: black;
}
